/* Site main */

.site-main {
	min-block-size: 89.5svh;
}

/* Site footer */

.site-footer {
	padding-block: var(--space-l, 2rem);
	border-block-start: var(--border);
	font-size: var(--text-s-size, 0.875rem);
	color: var(--color-content-unchanged);
    background-color: var(--color-surface-unchanged);
}
