/* Site main */

.site-main {
	min-block-size: 100svh;
	position: relative;
	z-index: 2;
	background-color: var(--color-surface-primary);
	border-end-start-radius: var(--corner-radius-xl);
	border-end-end-radius: var(--corner-radius-xl);
	padding-block-end: var(--space-xl-3xl);
	margin-block-end: var(--footer-height, 100vh);
	outline: var(--border-tertiary);

	@media (max-width: 640px) {
		margin-block-end: 0;
	}
}
