/* Site main */

.site-main {
	min-block-size: 100svh;
	position: relative;
	z-index: 2;
	background-color: var(--color-surface-primary);
	border-end-start-radius: var(--corner-radius-xl);
	border-end-end-radius: var(--corner-radius-xl);
	padding-block-end: var(--space-xl-3xl);
	margin-block-end: var(--footer-height, 20rem);
	outline: var(--border-tertiary);
}
