// ============================================================
// 257 Case Studies Block
// ============================================================

.case-studies {
	padding-block: var(--space-xl-3xl);

	&__inner {
		--stack-gap: var(--space-s-xl);
	}

	&__heading {
		text-transform: uppercase !important;
		text-align: center;
		opacity: 0;
		transform: translateY(1.5rem);
		transition: opacity 0.4s ease-out, transform 0.8s ease-out;

		&.is-inview {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__cards {
		padding-inline: 0;
		list-style: none;
	}

	&__card {
		background-color: var(--color-surface-secondary);
		border-radius: var(--corner-radius-xl);
		overflow: hidden;
		opacity: 0;
		transform: translateY(3rem);
		transition:
		opacity 0.4s ease-out var(--delay),
		transform 0.8s ease-out var(--delay),
		background-color var(--transition-speed) ease;
		
		a {
			border-radius: var(--corner-radius-xl);
			padding-block-end: var(--space-s);
		}

		&:hover {
			background-color: color-mix(in srgb, var(--color-surface-secondary) 95%, var(--color-content-primary));
		}

		.case-studies__cards.is-inview & {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__card-link {
		min-block-size: 100%;
	}

	&__logo {
		aspect-ratio: 2 / 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-content-secondary);
		min-block-size: clamp(var(--space-l), 9vw, var(--space-3xl));
		background: linear-gradient(var(--color-surface-primary), var(--color-trans));
		border-radius: var(--corner-radius-m);

		svg {
			block-size: var(--space-3xl);
			inline-size: auto;
			max-inline-size: 75%;
		}
	}

	&__card-copy {
		--stack-gap: var(--space-s);		
		padding: var(--space-xs);
	}

	&__card-title {
		color: var(--color-content-primary);
		text-align: center;
	}

	&__card-excerpt {
		color: var(--color-content-primary);
	}

	&__cta {
		display: flex;
		justify-content: center;
		opacity: 0;
		transform: translateY(1rem);
		transition: opacity 0.4s ease-out 0.2s, transform 0.8s ease-out 0.2s;

		&.is-inview {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
