// ============================================================
// CTA Section Block
// ============================================================

.cta-section {
	padding-block: var(--space-xl-3xl);


	&__panel {
		box-sizing: border-box;
		width: 100%;
		background-color: var(--color-surface-secondary);
		position: relative;
		overflow: hidden;
		border-radius: var(--space-s-xl);
		padding: var(--space-xl-3xl);
        
		&:has(.btn:hover) .cta-section__bg,
		&:has(.btn:focus-visible) .cta-section__bg {
            opacity: 1;
		}
	}
    
	&__bg {
		position: absolute;
		inset: 0;
		z-index: 0;
		color: var(--color-surface-primary);
		opacity: 0.75;
		overflow: hidden;
		transition: opacity 220ms ease;
	}

	&__content {
		--stack-gap: var(--space-xl);
        --stack-horizontal-alignment: center;
		position: relative;
		z-index: 1;
	}

	&__label {
		// margin: 0;
		text-align: center;
		color: var(--color-content-secondary);
		opacity: 0;
		transform: translateY(3rem);
		transition:
			opacity 0.4s ease-out var(--delay),
			transform 0.8s ease-out var(--delay);

		&.is-inview {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__heading {
		color: var(--color-content-primary);
        text-align: center;
		opacity: 0;
		transform: translateY(3rem);
		transition:
			opacity 0.4s ease-out var(--delay),
			transform 0.8s ease-out var(--delay);

		&.is-inview {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__preview-hint {
		color: var(--color-content-primary);
		opacity: 0.75;
	}

	// Button animation
	.btn {
		opacity: 0;
		transform: translateY(3rem);
		transition:
			opacity 0.4s ease-out var(--delay),
			transform 0.8s ease-out var(--delay);

		&.is-inview {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
