/* ===================================================================
Primitive Design Tokens
=================================================================== */

html {
	/* -----------------------------------------------
	Border Widths
	----------------------------------------------- */

	--border-width-thin: 1px;
	--border-width-medium: 2px;
	--border-width-thick: 4px;

	/* -----------------------------------------------
	Colors
	----------------------------------------------- */

	--color-white: hsl(229deg 0% 100%);
	--color-gray-50: hsl(224deg 28% 97%);
	--color-gray-200: hsl(224deg 9% 90%);
	--color-gray-300: hsl(224deg 5% 84%);
	--color-gray-900: hsl(224deg 20% 10%);
	--color-blue: hsl(229deg 80% 56%);
	--color-blue-darker: hsl(230deg 68% 51%);
	--color-green: hsl(167deg 61% 32%);
	--color-green-darker: hsl(169deg 100% 23%);
	--color-red: hsl(360deg 100% 40%);

	/* -----------------------------------------------
	Corner Radiuses
	----------------------------------------------- */

	--corner-radius-2xs: 0.125rem;
	--corner-radius-xs: 0.25rem;
	--corner-radius-s: 0.5rem;
	--corner-radius-m: 0.75rem;
	--corner-radius-l: 1rem;
	--corner-radius-xl: 1.5rem;
	--corner-radius-2xl: 2rem;
	--corner-radius-3xl: 3rem;
	--corner-radius-round: 9999rem;

	/* -----------------------------------------------
	Fonts
	----------------------------------------------- */

	--font-body-family: "Atkinson Hyperlegible Next", sans-serif;
	--font-body-weight-light: 300;
	--font-body-weight-normal: 400;
	--font-body-weight-medium: 500;
	--font-body-weight-bold: 700;
	--font-display-family: "Inter", sans-serif;
	--font-display-features: "calt" 1, "ss02" 1;
	--font-display-weight: 800;
	--font-monospace-family: "JetBrains Mono", monospace;
	--font-monospace-weight: 400;

	/* -----------------------------------------------
	Kerning (letter spacing)
	----------------------------------------------- */

	--kerning-caps: 0.025em;

	/* -----------------------------------------------
	Leading (line height)
	----------------------------------------------- */

	--leading-slim: 1.2;
	--leading-base: 1.5;
	--leading-loose: 1.8;

	/* -----------------------------------------------
	Transitions
	----------------------------------------------- */

	--transition-duration: 0.15s;

	/* -----------------------------------------------
	WordPress
	----------------------------------------------- */

	--wp-admin-bar-height: 32px;
	--wp-admin-bar-height-big: 46px;
}