/* ===================================================================
Primitive Design Tokens
=================================================================== */

html {
	/* -----------------------------------------------
	Border Widths
	----------------------------------------------- */

	--border-width-thin: 1px;
	--border-width-medium: 2px;
	--border-width-thick: 4px;

	/* -----------------------------------------------
	Colors — Maroon
	----------------------------------------------- */

	--color-maroon-100: #fbe4e3;
	--color-maroon-200: #f7c9c7;
	--color-maroon-300: #f3afac;
	--color-maroon-400: #ef9490;
	--color-maroon-500: #471820;
	--color-maroon-600: #2e0f14;

	/* -----------------------------------------------
	Colors — Purple
	----------------------------------------------- */

	--color-purple-100: #f1e1ff;
	--color-purple-200: #e2c4ff;
	--color-purple-300: #d3a7fe;
	--color-purple-400: #c589fe;
	--color-purple-500: #5b3860;
	--color-purple-600: #3f2143;

	/* -----------------------------------------------
	Colors — Forest
	----------------------------------------------- */

	--color-forest-100: #f6ffe2;
	// --color-forest-200: #eeffc5;
	--color-forest-200: #e3fca9;
	--color-forest-300: #e5ffa9; 
	--color-forest-400: #ddff8c;
	--color-forest-500: #182d09;
	--color-forest-600: #111d08;

	/* -----------------------------------------------
	Colors — Neutral
	----------------------------------------------- */

	--color-neutral-100: #ffffff;
	--color-neutral-200: #f1f1f1;
	--color-neutral-300: #989898;
	--color-neutral-400: #707070;
	--color-neutral-500: #424242;
	--color-neutral-600: #222222;

	/* -----------------------------------------------
	Corner Radiuses
	----------------------------------------------- */

	--corner-radius-2xs: 0.125rem;
	--corner-radius-xs: 0.25rem;
	--corner-radius-s: 0.5rem;
	--corner-radius-m: 0.75rem;
	--corner-radius-l: 1rem;
	--corner-radius-xl: 1.5rem;
	--corner-radius-2xl: 2rem;
	--corner-radius-3xl: 3rem;
	--corner-radius-round: 9999rem;

	/* -----------------------------------------------
	Fonts
	----------------------------------------------- */

	--font-body-family: "Overused Grotesk", sans-serif;
	--font-body-weight-light: 300;
	--font-body-weight-normal: 400;
	--font-body-weight-medium: 500;
	--font-body-weight-bold: 700;
	--font-body-weight-heavy: 900;
	--font-display-family: "Gopher Display", sans-serif;
	--font-display-features: "calt" 1, "ss02" 1;
	--font-display-weight: 400;
	--font-monospace-family: "Geist Mono", monospace;
	--font-monospace-weight: 500;

	/* -----------------------------------------------
	Kerning (letter spacing)
	----------------------------------------------- */

	--kerning-heading: -0.03em;
	--kerning-regular: -0.005em;
	--kerning-caps: 0.05em;

	/* -----------------------------------------------
	Leading (line height)
	----------------------------------------------- */

	--leading-xslim: 1;
	--leading-slim: 1.2;
	--leading-base: 1.45;
	--leading-loose: 1.8;

	/* -----------------------------------------------
	Transitions
	----------------------------------------------- */

	--transition-duration: 0.15s;

	/* -----------------------------------------------
	WordPress
	----------------------------------------------- */

	--wp-admin-bar-height: 32px;
	--wp-admin-bar-height-big: 46px;
}