
/* ===================================================================
Semantic Design Tokens
=================================================================== */

html {
	/* -----------------------------------------------
	Borders
	----------------------------------------------- */

	--border: var(--border-width-thin) solid var(--border-color, currentcolor);

	/* -----------------------------------------------
	Focus Indicator
	----------------------------------------------- */

	--focus-ring-style: solid;
	--focus-ring-offset: 2px;
	--focus-ring-inner-width: 2px;
	--focus-ring-inner-color: black;
	--focus-ring-outer-width: 2px;
	--focus-ring-outer-color: white;

	/* -----------------------------------------------
	Layout
	----------------------------------------------- */

	--block-gap-default: var(--space-m);
	--block-gap: var(--block-gap-default);
	--global-padding-inline: var(--space-s);
	--layout-content-size: 60rem;
	--layout-wide-size: 82rem;
	--measure: 70ch;
	--region-space: var(--space-xl-3xl);

	/* -----------------------------------------------
	Text Styles
	----------------------------------------------- */

	/* Base */
	--text-base-family: var(--font-body-family);
	--text-base-features: var(--font-body-features);
	--text-base-weight: var(--font-body-weight-normal);
	--text-base-size: var(--step-0);
	--text-base-leading: var(--leading-base);
	--text-base-kerning: normal;

	/* Monospace */
	--text-monospace-size: 0.8125em;
}
