/* ===================================================================
Font Weight
=================================================================== */

.font-light {
	font-weight: var(--font-body-weight-light) !important;
}

.font-normal {
	font-weight: var(--font-body-weight-normal) !important;
}

.font-medium {
	font-weight: var(--font-body-weight-medium) !important;
}

.font-bold {
	font-weight: var(--font-body-weight-bold) !important;
}